.ContainerHeader {

    &__DivLogo {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin-top: 2rem;
        gap: 40%;

        img{
          width: 9rem;
        }

        .containerButtons {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            border-radius: 1.3rem;
            margin-right: 2.5rem;

            &:hover {
                background-color: #fdfdfdcc;
                box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                transition: box-shadow 4s ease-in;
            }

            span {
                display: flex;
                justify-content: center;
                align-self: center;
                background-color: transparent;
                border: none;
                border-right: 2px solid #F2F2F2;
                padding: 1rem;
                cursor: pointer;
            }

            .btn__BorderNone {
                border: none;
            }
        }
    }

    &__amountRoom{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 6rem;
        gap: 55%;

        p{
            font-size: 1.5rem;
            font-weight: 900;
        }
        .amountRooms{
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20%;
        }
    }

}

.ui.fullscreen.modal>.header {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem 0 2rem;
}
.ui.fullscreen.modal {
    width: 100% !important;
}
.ui.modal {
    position: absolute;
    height: 50vh;
    top:-2%;
    display: none;
    z-index: 1001;
    text-align: left;
    background: #fff;
    border: none;
    box-shadow: 1px 3px 3px 0 rgba(0,0,0,.2), 1px 3px 15px 2px rgba(0,0,0,.2);
    transform-origin: 50% 25%;
    flex: 0 0 auto;
    border-radius: 0.28571429rem;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    will-change: top,left,margin,transform,opacity;
}
.containerButtonsModal {

    button{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-self: center;
        background-color: transparent;
        border: none;
        border-right: 2px solid #F2F2F2;
        padding: 1rem;
        cursor: pointer;
    }
   
    .btn__BorderNone {
        border: none;
    }
}