.ContainerHeader{

    &__DivLogo{
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 2rem;
        gap: 35%;
    }

    .containerButtons{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            border-radius: 1.3rem;

            &:hover{
                background-color: #fdfdfdcc;
                box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                transition: box-shadow 4s ease-in;
            }
            
            button{
                display: flex;
                justify-content: center;
                align-self: center;
                background-color: transparent;
                border: none;
                border-right: 2px solid  #F2F2F2;
                padding: 1rem;
                cursor: pointer;
            }
            .btn__BorderNone{
                border: none;
            }
        }
}