.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-evenly;
    margin: 0rem 0rem 1rem 5rem;

    &__habitacion {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-top: 2rem;

        img {
            width: 394px;
            height: 269px;
            object-fit: cover;
            border-radius: 25px;
            cursor: pointer;
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            &:hover{
                transform: scale(1.01);
                box-shadow: 10px 10px 10px rgba(94, 94, 94, 0.3);
                
            }
        }
    }

    &__info {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: .7rem;
        align-items: center;
    }

    &__typeRoom{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        span{
            font-weight: 700;
            color: #4F4F4F;
            border: 2px solid #4F4F4F;
            padding: .5rem .6rem;
            border-radius: 15px;
            font-size: .85rem;
        }
    }

    &__rating {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .3rem;
    }
}